
@{
    ViewBag.Title = "Index";
}
<h2>Test INET</h2>
<a href="@Url.Content("~")Order/Test">Test UAT</a>
<br />
<a href="@Url.Content("~")Order/TestProduction">Test PRD</a>
<h2>Test 2C2P</h2>
<a href="@Url.Content("~")Order/Test2C2P">Test PRD</a>
<h2>Orders</h2>
<a href="@Url.Content("~")Order/Group">Order Group</a>
<br />
<a href="@Url.Content("~")Order/List">Order Lists</a>
<h2>Catalog</h2>
<a href="@Url.Content("~")Catalog/Index">Catalog Lists</a>
<h2>Shopping Cart</h2>
<a href="@Url.Content("~")Cart/Index">Cart Lists</a>