
@{
    ViewBag.Title = "Payment";
    var publickey = ThaiPaymentAPI.Models.GBPConstants.UATPublicKey;
    var paytype = ViewBag.PayType;
    if (paytype == "prd")
    {
        publickey = ThaiPaymentAPI.Models.GBPConstants.PRDPublicKey;
    }
}
<form id="checkout-form" action="@Url.Action("Token","GBPrime")">
    <b>Summary</b><br />
    Order No <input type="text" name="orderNo" value="@DateTime.Now.ToString("yyyyMMddHHMMss")" readonly /><br />
    Order Amount <input type="number" name="orderAmount" value="@ViewBag.TotalAmount" readonly />
    <input type="hidden" value="@ViewBag.PayType" name="transType" />
    <div id="gb-form" style="height: 600px;"></div>
</form>
<script src="~/Scripts/GBPrimePay.js"></script>
<script>
    new GBPrimePay({
        publicKey: '@publickey',
        gbForm: '#gb-form',
        merchantForm: '#checkout-form',
        amount: @ViewBag.TotalAmount,
        customStyle: {
            backgroundColor: '#eaeaea'
        },
        env: '@ViewBag.PayType'
    });
</script>


