@using ThaiPaymentAPI.Models;
@{
    ViewBag.Title = "TestCallBack";
}

<h2>TestCallBack</h2>
<form method="post" action="@Url.Content("~")api/payment">
    <input type="hidden" name="orderId" value="@DateTime.Now.ToString("yyyyMMddHHMMss")" />
    <input type="hidden" name="merchantId" value="@INETConstants.INETMerchantKeyUAT" />
    <input type="hidden" name="bankNo" value="KTC" />
    <input type="hidden" name="payType" value="CR" />
    <input type="hidden" name="rcode" value="0" />
    <input type="hidden" name="rmsg" value="Success" />
    <input type="hidden" name="orderIdRef" value="P1234567890" />
    <input type="hidden" name="TxnAmount" value="100.00" />
    <input type="hidden" name="txnDate" value="@DateTime.Now.ToString("yyyyMMdd")" />
    <input type="hidden" name="txnTime" value="@DateTime.Now.ToString("HHMMss")" />
    <input type="hidden" name="ORDER_DESC" value="Test API CallBack" />
    <input type="submit" value="submit" />
</form>

